*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Generali */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.debug{
    border: 1px solid white;
}
body{
    background-color: #141922;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
}
.main-container{
    width: 100%;
    height: calc(100% - 90px);
    background-color: #141922;
    display: flex;
}
h1{
    font-size: 26px;
    line-height: 45px;
}
p{
    font-size: 14px;
    color: #D2D2D2;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(165, 165, 165);
}
.btn p a{
    position: absolute;
    top: 20px;
    right: 275px;
    width: 250px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 1s;
}
.btn p a:hover{
    transform: scale(1.1, 1.1);
}

/* main */
main{
    width: calc(100% - 230px);
    overflow-y: auto;
}
.overlay-nav{
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 230px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index:  1000;
    margin-right: 10px;
}
.main-banner{
    width: 100%;
    height: 40vh;
    background-image: url(../img/anime-wallpaper.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    -webkit-box-shadow: 50px 50px 31px 50px rgb(101 109 135 / 45%), 50px 50px 31px 50px rgb(171 107 90 / 69%);; 
    box-shadow: 50px 50px 31px 50px rgb(101 109 135 / 45%), 50px 50px 31px 50px rgb(171 107 90 / 69%);
}
.banner-overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.banner-text{
    max-height: 160px;
    position: absolute;
    bottom: 50px;
    left: 40px;
}
.banner-text h1{
    font-size: 60px;
    line-height: 65px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.banner-text p{
    color: white;
    font-size: 16px;
}
.player{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.player .fa-circle-play{
    display: inline-block;
    font-size: 60px;
    color: #1DB954;
    border-radius: 50%;
    margin: 20px 25px;
    z-index: 1000;
    
}
.btn-play{
    display: inline-block;
    border: 1px solid lightgray;
    color: white;
    padding: 5px 15px;
    margin: 20px 25px;
    z-index: 1000;
    
}
.player .fa-ellipsis{
    display: inline-block;
    font-size: 30px;
    margin: 20px 25px;
    z-index: 1000;
    
}
.playlist-container{
    margin: 10px 22px;
}
.playlist-container h2{
    margin-bottom: 30px;
}
.row{
    width: 75%;
    margin: 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 10px;
}
.order{
    flex-basis: 5%;
    text-align: center;
}
.song-name{
    flex-basis: 50%;
}
.song-name img{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}
.song-name p{
    display: inline-block;
    color: white;
    padding: 0 10px;
}
.listening{
    flex-basis: 35%;
}
.duration{
    flex-basis: 10%;
}
/* aside */
aside{
    position: relative;
    width: 230px;
    height: calc(100vh - 90px);
    background-color: #000000;
    overflow-y: hidden;
}
.small-logo{
    position: absolute;
    top: 0;
    left: 0;
}
.small-logo img{
    height: 41px;
    margin-top: 20px;
    margin-left: 10px;
    display: none;
}
.logo, .small-logo{
    width: 100%;
    height: 90px;
}
.logo img{
    margin-top: 20px;
    margin-left: 10px;
    width: 60%;
}
.side-nav{
    margin-bottom: 20px;
}

.side-nav ul{
    line-height: 30px;
    
}
.side-nav ul img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    filter: brightness(70%);
}
.side-nav ul li{
    margin-bottom: 5px;
    border-right: 2px solid #000000;
    border-left: 4px solid rgb(0, 0, 0);
    border-radius: 2px;
}
.side-nav ul li img{
    margin-left: 11px;
}
.side-nav ul li a{
    font-size: 14px;
    padding-left: 5px;
    color: #D2D2D2;
}
.side-nav ul li:hover{
    background-color: #141922;
    border-left-color: lightgreen;
}
.side-nav ul li:hover > a{
    color: rgb(255, 255, 255);
}
.playlist-head{
    margin-left: 15px;
}
.side-playlist{
    width: 100%;
    height: calc(100% - 365px);
    padding-left: 15px;
    overflow-y: auto;
}
.side-playlist ul li, .playlist-head ul li{
    padding: 10px 5px;
}
.side-playlist ul li a, .playlist-head ul li a{
    padding: 10px 0;
    font-size: 14px;
    color: #D2D2D2;
}
.side-playlist ul li:hover{
    background-color: #141922;
}
.side-playlist ul li:hover > a{
    color: rgb(255, 255, 255);
}
.playlist-head ul li .fa-plus{
    width: 30px;
    height: 30px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    color: black;
    background-color: #D2D2D2;
}
.playlist-head:hover ul li > i{
    background-color: white;
}
.playlist-head:hover ul li > a{
    color: white;
}
.playlist-head ul li:hover{
    background-color: #141922;
}
.user{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
}
.user .install{
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.user p{
    display: inline-block;
    padding-left: 5px;
    cursor: pointer;
}
.user p:hover{
    color: white;
}
.user p img{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.user .profile{
    padding-top: 10px;
}
.profile p img{
    width: 30px;
    height: 30px;
    background-color:#696969;
    border-radius: 50%;
}
.profile p{
    font-weight: bolder;
    color: white;
}
/* footer */
footer{
    height: 90px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer-bar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}
.side{
    flex-basis: 30%;
}
.center{
    flex-basis: 40%;
}
.track ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.track ul li{
display: inline-block;
margin-right: 15px;
}
.track .fa-heart, .track .fa-folder{
    color: #D2D2D2;
    cursor: pointer;
}
.track .fa-heart:hover, .track .fa-folder:hover{
    color: white;
}
.track ul li h4, .track ul li p{
    font-size: 14px;
    margin-right: 20px;
}
.track ul li p{
    font-size: 12px;
    cursor: pointer;
}
.track ul li p:hover{
    text-decoration: underline;
}
.track ul li img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.buttons , .buttons i{
    text-align: center;
    font-size: 20px;
    padding: 0 10px;
}
#play{
    font-size: 26px;
    transition: all 0.5s;
}
#play:hover{
    transform: scale(1.1);
}
.track-progress{
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
}
#default-bar{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    border: 2px solid #5A5A5A;
    border-radius: 3px;
    position: relative;
}
#current-bar{
    position: absolute;
    bottom: -1px;
    left: -1px;
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s;
}
.circle{
    position: absolute;
    left: 18%;
    bottom: -7px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #D2D2D2;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
}
#default-bar:hover  .circle{
    opacity: 1;
}
#default-bar:hover #current-bar{
    border-color: lightgreen;
}
#current-bar:hover + .circle{
    opacity: 1;
}
#current-bar:hover{
    border-color: lightgreen;
}
.volume-panel{
    text-align: right;
    margin-right: 20px;
}

#volume-default{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    border: 2px solid #5A5A5A;
    border-radius: 3px;
    position: relative;
}
#volume-bar{
    position: absolute;
    bottom: -1px;
    left: -1px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    border: 2px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s;
}
#volume-default:hover #volume-bar{
    border-color: lightgreen;
}
#volume-default:hover .circle{
    opacity: 1;
}
#volume-bar:hover{
    border-color: lightgreen;
}
#volume-bar:hover + .circle{
    opacity: 1;
}
/* media query */
@media screen and (max-width: 992px){
    .flex-box{
        width: calc((100% / 4) - 20px);
        margin-top: 20px;
        margin-bottom: 30px;
    }
    h2{
        font-size: 16px;
    }
}

@media screen and (max-width: 786px){
    .flex-box{
        width: calc((100% / 3) - 20px);
        margin-top: 20px;
        margin-bottom: 30px;
    }
    h2{
        font-size: 14px;
    }
    .side{
        flex-basis: 25%;
    }
    .center{
        flex-basis: 50%;
    }
    #default-bar{
        width: 70%;
    }
}

@media screen and (max-width: 576px){
    .flex-box{
        width: calc((100% / 2) - 20px);
        margin-top: 20px;
        margin-bottom: 30px;
    }
    h2{
        font-size: 12px;
    }
    main{
        width: calc(100% - 60px);
        padding: 0 30px;
        padding-top: 100px;
        overflow-y: auto;
    }
    .overlay-nav{
        height: 90px;
        width: 100%;
        min-width: 350px;
        position: fixed;
        top: 0;
        left: 60px;
        background-color: rgba(0, 0, 0, 0.3);
        z-index:  1000;
    }
    .overlay-nav .btn p a{
        right: 90px;
    }
    aside{
        width: 60px;
        position: relative;
    }
    .logo{
        display: none;
    }
    .small-logo{
        position: relative;
        height: 70px;
    }
    .small-logo img{
        display: block;
    }
    .side-playlist{
        display: none;
    }
    .side-nav ul li a{
        display: none;
    }
    .playlist-head{
        display: none;
    }
    .user{
        position: absolute;
    }
    .user .install p:last-child, .user .profile p:last-child{
        display: none;
    }
    .user .profile p{
        padding-left: 0px;
    }
    .footer-bar{
        min-width: 430px;
    }
    .track ul li{
        margin-right: 2px;
    }
    .volume-panel .fa-desktop, .fa-volume-high, .track ul li:last-child, .track ul li:nth-last-child(2){
        display: none;
    }
    #volume-default{
        display: none;
    }
    .side{
        flex-basis: 10%;
    }
    .center{
        flex-basis: 80%;
    }
}